In [44]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("train.csv")

In [6]:
df.dropna(inplace=True)
df=df.iloc[1:10,:]
df

      x          y
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984
5  36.0  32.463875
6  12.0  10.780897
7  81.0  80.763399
8  25.0  24.612151
9   5.0   6.963319

#Standard Deviation
Standard deviation is a measure of how spread out numbers are. It can be calculated by taking square root of Variance.
#Variance
The variance is defined as :

The average of the squared differences from the Mean.

1. Calculate Mean.
2. Subtract mean from each number and square the result.
3. Take average of those numbers.

In [23]:
x = df.iloc[:,0]
y = df.iloc[:,1]
x

1    50.0
2    15.0
3    38.0
4    87.0
5    36.0
6    12.0
7    81.0
8    25.0
9     5.0
Name: x, dtype: float64

In [8]:
mean = sum(x)/len(x)
mean

38.77777777777778

In [10]:
diff = x-mean
diff

1    11.222222
2   -23.777778
3    -0.777778
4    48.222222
5    -2.777778
6   -26.777778
7    42.222222
8   -13.777778
9   -33.777778
Name: x, dtype: float64

In [11]:
sq = diff**2
sq

1     125.938272
2     565.382716
3       0.604938
4    2325.382716
5       7.716049
6     717.049383
7    1782.716049
8     189.827160
9    1140.938272
Name: x, dtype: float64

In [12]:
variance = sum(sq)/len(sq)
variance

761.7283950617284

In [13]:
import statistics as st

In [15]:
st.pvariance(x)

761.7283950617284

In [16]:
st.variance(x)

856.9444444444445

In [17]:
from math import sqrt
standev = sqrt(variance)
standev

27.5994274408316

In [19]:
st.pstdev(x)

27.5994274408316

In [20]:
st.stdev(x)

29.27361345041716

In [21]:
from sklearn.metrics import explained_variance_score
from sklearn.metrics import max_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import r2_score

In [24]:
explained_variance_score(x,y)

0.9957899107998996

In [28]:
max_error(x,y)

3.536125069999997

#Mean Absolute Error

In [30]:
df["Diff"]=abs(x-y)
df

      x          y      Diff
1  50.0  47.464463  2.535537
2  15.0  17.218656  2.218656
3  38.0  36.586398  1.413602
4  87.0  87.288984  0.288984
5  36.0  32.463875  3.536125
6  12.0  10.780897  1.219103
7  81.0  80.763399  0.236601
8  25.0  24.612151  0.387849
9   5.0   6.963319  1.963319

In [31]:
MAE=sum(df["Diff"])/len(df)
MAE

1.5333084878888883

In [32]:
mean_absolute_error(x,y)

1.5333084878888883

#Mean Squared Error

In [33]:
df["Sq"]=df["Diff"]**2
df

      x          y      Diff         Sq
1  50.0  47.464463  2.535537   6.428948
2  15.0  17.218656  2.218656   4.922436
3  38.0  36.586398  1.413602   1.998271
4  87.0  87.288984  0.288984   0.083512
5  36.0  32.463875  3.536125  12.504181
6  12.0  10.780897  1.219103   1.486213
7  81.0  80.763399  0.236601   0.055980
8  25.0  24.612151  0.387849   0.150426
9   5.0   6.963319  1.963319   3.854622

In [34]:
MSE = sum(df.Sq)/len(df)
MSE

3.4982874807943194

In [35]:
mean_squared_error(x,y)

3.4982874807943194

#Root Mean Squared Error

In [36]:
RMSE = sqrt(MSE)
RMSE

1.870370947377637

#Mean Squared Log Error

In [37]:
from math import log

In [71]:
df["X+1"]=x+1
df["Y+1"]=y+1
df["LogX"]=np.log(df["X+1"])
df["LogY"]=np.log(df["Y+1"])
df["Error"]=df.LogX-df.LogY
df["SqEr"]=df.Error**2
df

,x,y,Diff,Sq,X+1,Y+1,LogX,LogY,Error,SqEr
1,50.0,47.464463,2.535537,6.428948,51.0,48.464463,3.931826,3.880831,0.050995,0.002600
2,15.0,17.218656,2.218656,4.922436,16.0,18.218656,2.772589,2.902446,-0.129857,0.016863
3,38.0,36.586398,1.413602,1.998271,39.0,37.586398,3.663562,3.626642,0.036919,0.001363
4,87.0,87.288984,0.288984,0.083512,88.0,88.288984,4.477337,4.480615,-0.003279,0.000011
5,36.0,32.463875,3.536125,12.504181,37.0,33.463875,3.610918,3.510466,0.100451,0.010090
6,12.0,10.780897,1.219103,1.486213,13.0,11.780897,2.564949,2.466479,0.098470,0.009696
7,81.0,80.763399,0.236601,0.055980,82.0,81.763399,4.406719,4.403830,0.002890,0.000008
8,25.0,24.612151,0.387849,0.150426,26.0,25.612151,3.258097,3.243067,0.015030,0.000226
9,5.0,6.963319,1.963319,3.854622,6.0,7.963319,1.791759,2.074846,-0.283086,0.080138

In [72]:
MSLE = sum(df.SqEr)/len(df)
MSLE

0.013444023090722334

In [73]:
mean_squared_log_error(x,y)

0.013444023090722335