In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/content/final.q2.train.csv")

In [3]:
df.describe()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x31,x32,x33,x34,x35,x36,x37,x38,x39,x40
count,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,0.492000,0.496577,0.504497,0.503644,0.499688,0.502624,0.497589,0.498213,0.494206,0.497381,...,0.498190,0.496857,0.500988,0.502277,0.49709,0.498792,0.498323,0.502123,0.499752,0.498606
std,0.499967,0.287121,0.291160,0.286889,0.291093,0.288685,0.290412,0.287703,0.290521,0.288065,...,0.287018,0.288755,0.287639,0.287633,0.28798,0.289095,0.288639,0.288049,0.287737,0.287341
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.249000,0.248000,0.258000,0.247000,0.249000,0.245000,0.249000,0.240000,0.250000,...,0.252750,0.244750,0.249000,0.255000,0.25000,0.248000,0.248750,0.252000,0.253000,0.250000
50%,0.000000,0.494000,0.508000,0.505000,0.503000,0.509000,0.496500,0.498000,0.490000,0.495000,...,0.495000,0.492000,0.503000,0.500000,0.49000,0.498000,0.496000,0.500000,0.501000,0.501000
75%,1.000000,0.741000,0.763000,0.750000,0.752000,0.753000,0.747250,0.743250,0.751000,0.745250,...,0.741250,0.747000,0.748250,0.753250,0.74200,0.748000,0.746000,0.755000,0.747000,0.744000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       8000 non-null   float64
 1   x1      8000 non-null   float64
 2   x2      8000 non-null   float64
 3   x3      8000 non-null   float64
 4   x4      8000 non-null   float64
 5   x5      8000 non-null   float64
 6   x6      8000 non-null   float64
 7   x7      8000 non-null   float64
 8   x8      8000 non-null   float64
 9   x9      8000 non-null   float64
 10  x10     8000 non-null   float64
 11  x11     8000 non-null   float64
 12  x12     8000 non-null   float64
 13  x13     8000 non-null   float64
 14  x14     8000 non-null   float64
 15  x15     8000 non-null   float64
 16  x16     8000 non-null   float64
 17  x17     8000 non-null   float64
 18  x18     8000 non-null   float64
 19  x19     8000 non-null   float64
 20  x20     8000 non-null   float64
 21  x21     8000 non-null   float64
 22  x22     8000 non-null   float64
 23  x23     8000 non-null   float64
 24  x24     8000 non-null   float64
 25  x25     8000 non-null   float64
 26  x26     8000 non-null   float64
 27  x27     8000 non-null   float64
 28  x28     8000 non-null   float64
 29  x29     8000 non-null   float64
 30  x30     8000 non-null   float64
 31  x31     8000 non-null   float64
 32  x32     8000 non-null   float64
 33  x33     8000 non-null   float64
 34  x34     8000 non-null   float64
 35  x35     8000 non-null   float64
 36  x36     8000 non-null   float64
 37  x37     8000 non-null   float64
 38  x38     8000 non-null   float64
 39  x39     8000 non-null   float64
 40  x40     8000 non-null   float64
dtypes: float64(41)
memory usage: 2.5 MB

In [5]:
df.head(3)

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x31,x32,x33,x34,x35,x36,x37,x38,x39,x40
0,1.0,0.876,0.269,0.322,0.225,0.266,0.322,0.228,0.599,0.714,...,0.179,0.318,0.631,1.000,0.645,0.883,0.720,0.707,0.511,0.388
1,1.0,0.613,0.581,0.141,0.141,0.321,0.955,0.553,0.423,0.675,...,0.955,0.179,0.615,0.737,0.429,0.850,0.214,0.458,0.665,0.871
2,1.0,0.314,0.165,0.471,0.579,0.776,0.088,0.849,0.870,0.206,...,0.285,0.507,0.483,0.204,0.820,0.446,0.440,0.565,0.770,0.764

In [6]:
df.shape

(8000, 41)

In [7]:
x = df.iloc[:,1:]
x.shape

(8000, 40)

In [8]:
y = pd.DataFrame(df.iloc[:,0])
y.shape

(8000, 1)

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [12]:
scores = cross_val_score(DecisionTreeClassifier(max_leaf_nodes=5),x,y,cv=5)
scores.mean()

0.9564999999999999

In [13]:
model = DecisionTreeClassifier(max_leaf_nodes=5)

In [14]:
model.fit(x,y)

DecisionTreeClassifier(max_leaf_nodes=5)

In [15]:
te = pd.read_csv("/content/final.q2.test.csv")

In [16]:
te.head(3)

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x31,x32,x33,x34,x35,x36,x37,x38,x39,x40
0,0.0,0.589,0.823,0.108,0.512,0.293,0.431,0.931,0.633,0.683,...,0.644,0.088,0.973,0.797,0.384,0.834,0.927,0.908,0.798,0.458
1,1.0,0.343,0.857,0.890,0.714,0.633,0.042,0.049,0.213,0.191,...,0.593,0.748,0.713,0.198,0.279,0.210,0.722,0.174,0.267,0.190
2,0.0,0.987,0.171,0.776,0.526,0.261,0.480,0.195,0.136,0.595,...,0.505,0.474,0.679,0.886,0.865,0.656,0.988,0.906,0.021,0.950

In [17]:
x_test = te.iloc[:,1:]
y_test = pd.DataFrame(te.iloc[:,0])

In [18]:
y_pred = model.predict(x_test)

In [19]:
model.score(x_test,y_test)

0.9635

In [20]:
from sklearn.metrics import confusion_matrix

In [21]:
confusion_matrix(y_test,y_pred)

array([[994,  36],
       [ 37, 933]])

In [22]:
new = pd.read_csv("/content/final.q2.new.csv")

In [23]:
new.head(3)

,ID,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x31,x32,x33,x34,x35,x36,x37,x38,x39,x40
0,ID_001,0.141,0.810,0.515,0.340,0.938,0.012,0.772,0.703,0.979,...,0.782,0.636,0.371,0.843,0.682,0.612,0.321,0.733,0.156,0.669
1,ID_002,0.873,0.321,0.151,0.059,0.018,0.721,0.886,0.598,0.308,...,0.893,0.160,0.671,0.683,0.704,0.254,0.882,0.239,0.572,0.093
2,ID_003,0.564,0.607,0.782,0.943,0.147,0.595,0.602,0.844,0.460,...,0.136,0.526,0.551,0.852,0.267,0.750,0.834,0.356,0.776,0.869

In [24]:
new_x = new.iloc[:,1:]

In [25]:
predicted = model.predict(new_x)

In [26]:
predicted

array([0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

In [27]:
from sklearn import tree
decisions = tree.export_text(model)
print(decisions)

|--- feature_8 <= 0.81
|   |--- feature_14 <= 0.82
|   |   |--- feature_11 <= 0.84
|   |   |   |--- feature_24 <= 0.88
|   |   |   |   |--- class: 1.0
|   |   |   |--- feature_24 >  0.88
|   |   |   |   |--- class: 0.0
|   |   |--- feature_11 >  0.84
|   |   |   |--- class: 0.0
|   |--- feature_14 >  0.82
|   |   |--- class: 0.0
|--- feature_8 >  0.81
|   |--- class: 0.0

In [28]:
import graphviz
re = tree.export_graphviz(model)

In [29]:
graph = graphviz.Source(re, format="png") 
graph

In [31]:
from sklearn.metrics import classification_report

In [32]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n         0.0       0.96      0.97      0.96      1030\n         1.0       0.96      0.96      0.96       970\n\n    accuracy                           0.96      2000\n   macro avg       0.96      0.96      0.96      2000\nweighted avg       0.96      0.96      0.96      2000\n'